[defaults]
inventory          = inventory.example
host_key_checking  = False
timeout            = 30
gather_facts       = no
stdout_callback    = yaml
display_skipped_hosts = False
deprecation_warnings  = False

[ssh_connection]
ssh_args     = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining   = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
